@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Old+Standard+TT&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* For testin purpose */
    /* * {
        border: 1px solid coral;
        box-sizing: border-box;
    } */

    html {
        font-family: 'Old Standard TT', serif;
    }
    .number-font {
        font-family: 'Cutive mono', monospace;
        font-weight: bold;
    }
    .content-font {
        font-family: 'Tenor Sans', sans-serif;
    }
    .offset-position {
        position: relative;
        bottom:  15px;
        right: 15px;
    }
}