/* * {
    margin: 0;
    padding: 0;
    border: 1px solid coral;
    box-sizing: border-box;
}
html, body {
    background-color: black;
    color: coral;
    height: 100%;
    width: 100%;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;