@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Zilla+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* For testin purpose */
    /* * {
        border: 1px solid coral;
        box-sizing: border-box;
    } */

    html {
        font-family: 'Old Standard TT', serif;
    }
}